<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ticketbookingapp">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.TicketBookingApp"
        tools:targetApi="31">

        <activity
            android:exported="false"
            android:name="com.example.ticketbookingapp.Activities.TopDestinations.TopDestinationsActivity" />
        <activity
            android:exported="false"
            android:name="com.example.ticketbookingapp.Activities.Admin.AdminUserManagementActivity" />
        <activity
            android:exported="false"
            android:name="com.example.ticketbookingapp.Activities.Admin.AdminBookingManagementActivity" />
        <activity
            android:exported="false"
            android:name="com.example.ticketbookingapp.Activities.Admin.AdminFlightManagementActivity" />
        <activity
            android:exported="false"
            android:name="com.example.ticketbookingapp.Activities.Admin.AdminDashboardActivity" />
        <activity
            android:exported="false"
            android:name="com.example.ticketbookingapp.Activities.BookingHistory.BookingHistoryActivity" />
        <activity
            android:exported="false"
            android:name="com.example.ticketbookingapp.Activities.Profile.ProfileActivity" />
        <activity
            android:exported="false"
            android:name="com.example.ticketbookingapp.Activities.Auth.RegisterActivity" />
        <activity
            android:exported="false"
            android:name="com.example.ticketbookingapp.Activities.Auth.LoginActivity" />
        <activity
            android:exported="false"
            android:name="com.example.ticketbookingapp.Activities.TicketDetail.TicketDetailActivity" />
        <activity
            android:exported="false"
            android:name="com.example.ticketbookingapp.Activities.SeatSelect.SeatSelectActivity" />
        <activity
            android:exported="false"
            android:name="com.example.ticketbookingapp.Activities.SearchResult.SearchResultActivity" />
        <activity
            android:exported="false"
            android:name="com.example.ticketbookingapp.Activities.Dashboard.DashboardActivity" />
        <activity
            android:exported="true"
            android:name="com.example.ticketbookingapp.Activities.Splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>